<<<<<<<< HEAD:front/src/Components/User/UserPost.module.css
.userPost {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-bottom: 2rem;
}

@media (max-width: 40rem) {
    .userPost {
        grid-template-columns: 1fr;
    }
}

.file {
    margin-top: .5rem;
    margin-bottom: 1rem;
}

.preview {
    border-radius: 1rem;
    background-size: cover;
    background-position: center center;
}

.preview::after {
    content: '';
    display: block;
    height: 0px;
    padding-bottom: 100%;
========
.userPost {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-bottom: 2rem;
}

.file {
    margin-top: .5rem;
    margin-bottom: 1rem;
}

.preview {
    border-radius: 1rem;
    background-size: cover;
    background-position: center center;
}

.preview::after {
    content: '';
    display: block;
    height: 0px;
    padding-bottom: 100%;
>>>>>>>> parent of dd5c0a7 (Merge branch 'main' of https://github.com/orodrigobraz/Trabalho-Final-ProgramacaoWeb):src/Components/User/UserPost.module.css
}